<section id="dayof" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Soli Tree Farms</h2>
                <hr class="primary">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3>Getting There and Away</h3>
                        <p><a href="https://solitreefarms.com/">Soli Tree Farms</a> is 40 Minutes from Cincinnati.</p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 item-center">
                        <iframe width="auto" height="auto" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJw63fVe1tQYgRkPEXdsrrlDs&key=AIzaSyDv5VyLB9mHl8xrDKfZNW90cSa-iVXNyGg"></iframe>
                    </div>
                </div>
            </div>    
        </div>
    </div>       
</section>
